%h1= "#{@chart.title}"

= form_tag occurrences_charts_path, method: :get do 
  = label :occurrence, :district, 'Filtro'

  = select_tag :select_district, options_from_collection_for_select(@district_list, 'id', 'name', params[:select_district]), include_blank: "Todos"
  = select_tag :select_crime_type, options_from_collection_for_select(@crime_type_list, 'id', 'name', params[:select_crime_type]), include_blank: "Todos"
  = select_tag :select_month, options_for_select(@month_list, params[:select_month]), include_blank: "Todos"
  = select_tag :select_year, options_for_select(@year_list, params[:select_year]), include_blank: "Todos"

  = submit_tag 'Filtrar', :style => "margin-bottom: 15px;", :class => 'btn btn-primary btn-sm'  
#chart
  <!-- Verificar o tipo da estatisticas e renderizar o gráfico certo -->
  - case @chart.type
  - when :bar
    = bar_chart @chart.data, height: "100%", stacked: true
  - when :column
    = column_chart @chart.data, height: "100%"
  -when :pie
    = pie_chart @chart.data, height: "100%"
  - when :line
    = line_chart @chart.data, discrete: true, label: "Occurrences", height: "100%"
    