@import "bootstrap-sprockets"
@import "bootstrap"

.container-fluid
  height: 80%
  width: 100%

h1
  margin-top: 0

form
  margin-bottom: 10px

#chart
  min-height: 600px
  height: 74vh

footer
  height: 45px
  background-color: #eee