!!! 5
%html
  %head
    %title Security
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %body
    %header
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            = link_to "Home", root_path, :class => "navbar-brand"
          %ul.nav.navbar-nav.navbar-left
            %li= link_to 'Mapa', occurrences_maps_path            
            %li= link_to 'Grafico', occurrences_charts_path
            %li= link_to 'Crawler', developer_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to image_tag('gitlab-logo-square.png', height: '40'), 'https://gitlab.com/smart-city-platform/security', {style: "padding: 5px"}
            %li= link_to image_tag('logo-smart-city.png', height: '40'), 'https://gitlab.com/groups/smart-city-platform', {style: "padding: 5px"}
    .container-fluid
      = yield
